* {
    box-sizing: border-box;
}

$breakpoints: (
    "xs": "max-width: 579.98px",
    "sm":"(max-width: 576px)" and "(max-width: 767.98px)",
    "md":"(max-width: 768px)" and "(max-width: 991.98px)",
    "lg":"(max-width: 992px)" and "(max-width: 1199.98px)",
    "xl":"(max-width: 1200px)" and "(max-width: 1399.98px)",
    "xxl":"(max-width: 1400px)",
);

@mixin breakpoint($user-value) {
    $my-map: map-get($breakpoints, $user-value );

    @if $my-map {
        @media (#{$my-map}) {
            @content;
        }
    }

    @else {
        @error "Error, breakpoint #($user-value)"
    }
}

;