@use '../abstract/variables' as * ;

div.createpostContainer{
    margin-top: 50px;
    display: grid;
    place-items: center;

    form.InputContainer {
        display:flex;
        flex-direction: column
        ;
        h1{
            font-size: 2em; margin-top: 50px; margin-bottom: 20px;
        }
        width: clamp(200px, 80vw, 620px);
        
        textarea#iheader{
            width: auto ;
            height: 30px;
            font-size: 20px;
            margin-top: 20px;
            padding: 8px;
            border-radius: 14px;
            resize: none;
            transition: all 0.6s ease-in-out;
            &:hover {
                border: 1px solid $primary-color2;
            }
        }
        textarea#icontent{
            width: auto ;
            font-size: 20px;
            padding: 8px;
            margin-top: 20px; margin-bottom: 20px;
            border-radius: 14px;
            resize: none;
            transition: all 0.6s ease-in-out;
            &:hover {
                border: 1px solid $primary-color2;
            }
        }

        input[type=button]{
            font-size: 20px;
            width:100px;
            height: 50px;
            border-radius: 14px;
            border-width: 0px;
            background-color: $primary-color2;
            transition: all 0.6s ease-in-out;
            &:hover {
                background-color: $primary-color2-50;
                color: $primary-color2;
            }
        }
    }


//     .flexbox {
//         display: flex;
//         flex-direction: row;
//         flex-wrap: wrap;
//         justify-content: flex-start;
//         align-items: stretch;
//         box-sizing: border-box;
//         margin: 0px -10px;
//       }
      
//       .item {
//         box-sizing: border-box;
//         width: 50%;
//         margin-bottom: 20px;
//         padding: 0px 10px;
//       }
      
//       .content {
//         color: #242424;
//         background-color: #1bbefe;
//         font-weight: 600;
//         text-align: center;
//         box-sizing: border-box;
//         height: 100%;
//         padding: 10px;
//       }
}