@use '../abstract/variables' as *;

div.createpostContainer {
    margin-top: 50px;
    display: grid;
    place-items: center;

    form.InputContainer {
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 2em;
            margin-top: 50px;
            margin-bottom: 20px;
        }

        width: clamp(200px, 80vw, 620px);

        textarea#iheader {
            width: auto;
            height: 30px;
            font-size: 20px;
            margin-top: 20px;
            padding: 8px;
            border-radius: 14px;
            resize: none;
            transition: all 0.6s ease-in-out;

            &:hover {
                border: 1px solid $primary-color2;
            }
        }

        textarea#icontent {
            width: auto;
            font-size: 20px;
            padding: 8px;
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 14px;
            resize: none;
            transition: all 0.6s ease-in-out;

            &:hover {
                border: 1px solid $primary-color2;
            }
        }

        button[type=submit] {
            font-size: 20px;
            width: 100px;
            height: 50px;
            border-radius: 14px;
            border-width: 0px;
            background-color: $primary-color2;
            transition: all 0.6s ease-in-out;

            &:hover {
                background-color: $primary-color2-50;
                color: $primary-color2;
            }
        }
    }
}