@use '../abstract/variables' as *;
@forward '../components/navbar';
@forward '../components/post';

main {
  margin-top: 50px;
  display: grid;
  justify-content: center;
  height: 100vh;

  section.contents {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-items: center;
    padding-top: 20px;
    width: clamp(200px, 80vw, 620px);
    height: 20vh;



  }
}