@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.containerCard {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 24px;

    .loginCard {

        position: relative;
        z-index: 3;
        overflow: hidden;
        width: 100%;
        margin: 0 20px;
        padding: 70px 30px 44px;
        border-radius: 1.25rem;
        border: 1px solid $primary-color1;
        text-align: center;

        @media (width >=500px) {
            margin: 0;
            width: 400px;
        }

        h2 {
            font-size: 36px;
            font-weight: 600;
            margin: 0 0 12px;
            transition: 0.3s ease-out 1s;
        }

        h3 {
            color: $primary-color5;
            margin: 0 0 30px;
            font-weight: 500;
        }

        form {
            width: 100%;
            margin: 0;
            display: grid;
            gap: 16px;
        }

        input {
            width: auto;
            height: 50px;
            border: 2px solid #ebebeb;
            font-size: 20px;
            padding: 0 20px;
            border-radius: 14px;
            transition: all 0.3s ease-in;

            &:hover {
                border: 2px solid $primary-color2;
            }
        }

        button {
            width: 100%;
            height: 50px;
            cursor: pointer;
            padding: 16px;
            border-radius: 25px;
            background-color: $primary-color2;
            color: $primary-color1;
            border: 0;
            font-size: 1rem;
            font-weight: 600;
            text-align: center;
            letter-spacing: 2px;
            transition: ease-in 0.3s;

            &:hover {
                color: white;
                background-color: $primary-color2-50;
            }
        }

        p {
            color: $primary-color2;
            font-size: 0.9rem;
            text-align: left;
            text-decoration: none;
            cursor: pointer;
            margin-bottom: 6px;
            transition: ease-in 0, 3s;

            &:hover {
                color: $primary-color2-50;
            }

        }

        #backIcon {
            transition: all 0.2s ease-out;

            &:hover {
                color: $primary-color2-50;
                top: -10px;
            }
        }

        @include breakpoint(xs) {
            input:text {
                width: 120px;
            }
        }

    }
}