.mypostContainer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-items: center;
    padding-top: 20px;
    width: clamp(200px, 80vw, 620px);
    height: 20vh;

}