@use '../abstract/variables' as * ;

.mypostsContainer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-items: center;
    padding-top: 10px;
    width: clamp(200px, 80vw, 820px);
    height: 30vh;

    .mypostContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    .buttonContainer{


        input[type=button] {
            margin: 10px 50px 10px 50px;
            
            
            &:first-of-type{
                color: $primary-color2;
                background-color: whitesmokeg;
                border-radius: 20px;
                padding: 8px;
                width: 70px;
                
                
            }
            &:nth-of-type(2){
                color: $primary-color1;
                background-color: whitesmoke;
                border-radius: 20px;
                padding: 8px;
                width: 80px;
            }
            
        }
        
    }
        
        
        


    }

}