@use '../abstract/variables' as *;

article.content {
    color: $primary-color1;
    border: 2px solid $primary-color5 ;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 10px 20px;
    height: 180px;
    width: 100%;
    background-color: white;
    transition: all 0.25s ease-in .25ms;


    h2 {
        font-size: clamp(16px, 1.2em, 32px);
        color: $primary-color1;
        text-decoration: underline;
    }

    &:hover {
        // background-color: $primary-color5;
        border: 2px solid $primary-color2-50;

        h2 {

            color: $primary-color4;
        }
    }

    p {
        color: $primary-color1;

        span {
            margin-right: 10px;

            &:nth-child(2) {
                margin-left: 10px;
                color: $primary-color5;
            }
        }


    }
}

article.detailContainer {
    color: $primary-color1;
    margin-top: 50px;
    padding-top: 20px;
    width: clamp(200px, 80vw, 820px);
    height: auto;
    border: 2px solid $primary-color5 ;
    border-radius: 14px;
    padding: 40px 15px 30px;

    h1 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    p {
        &.content {
            color: $primary-color1;
            font-size: clamp(16px, 2vw, 1.2em);
            margin-bottom: 10px;
        }

        &:nth-of-type(3) {
            margin-top: 4px;
            color: $primary-color5;
        }
    }

}